<div class="wrapper">
   <div class="nav-logo">
     <div class="logo">
       LOGO
     </div>
   </div>
    <div class="nav-list">
      <li class="nav-menu">
        <a class="nav-item">texxxxt</a>
        <a class="nav-item">texxxxt</a>
        <a class="nav-item">texxxxt</a>
        <a class="nav-item">texxxxt</a>
        <a class="nav-item">texxxxt</a>
        <a class="nav-item">texxxxt</a>
        <a class="nav-item">texxxxt</a>
        <div class="action-buttons">
          <button class="btn btn-primary-outline">Registrate</button>
        </div>
      </li>
  </div>
</div>

